
  *{
	box-sizing:border-box;
}
  body{
	  margin:0;
	  background:white;
  }
#jklogo{
	position:absolute;
	top:-10px;
	left:200px;
}
  p{
font-family:arial;
font-size:20px;  
  }
  h1 , h2 {
	  color:white;
	  
  }
h3{
	color:red;
}
 .header{
	 position:fixed;
	 top:0px;
	 left:0px;
	 width:100%;
	 height:60px;
	 background:white;
	 display: block;
	 padding:15px;
	 z-index:5;
  }
  ul  {
	  position:fixed;
	  top:10px;
	  left:900px;
	  color:black;
	  width:500px;
	  float:right;
  }
  li{
	  font-size:19px;
	  padding:25px;
	  display:inline;  
  }
  .img-circle{
	border-radius:100%;
	 height:200px;
	width:200px;
	border:solid 1px red;
  }
  
  .main{
 background:black;
  }
  
 
  .bg1{
	  position:relative;
	  width:100%;
	  height:1000px;
	  background-image:url('http://localhost/Portfolio/img/desk.jpg');
	    background-repeat: no-repeat;
		 background-attachment: fixed;
	background-size: cover;
  }
  
 .bg2{
	 position:relative;
	   width:100%;
	  height:1000px;
	  background-image:url('http://localhost/Portfolio/img/249.jpg');
	  background-repeat: no-repeat;
    background-attachment: fixed;	
	background-size: cover;
	
 }
   .bg3{
	   position:relative;
	  width:100%;
	 height:800px;
	  background-image:url('http://localhost/Portfolio/img/NewYork.jpg');
	  background-repeat: no-repeat;
    background-attachment: fixed;	
	background-size: cover;
 }
 
  .spacer1 {
	 position:relative;
	 width:100%;
	 height:600px;
	 background:white;
	 padding:20px 20px;
	z-index:2;
}
  .spacer2{
	 position:relative;
	 width:100%;
	 height:400px;
	 background:white;
	 z-index:3;
 }
  .spacer3{
	 position:relative;
	 width:100%;
	 height:400px;
	 background:white;
 }
  .footer{
 background:black;
 height:200px;
 width:100%;
  }
.float_text{
	position:absolute;
	top:200px;
	left:20%;
	width:800px;
	padding:25px;
	 text-shadow: 0 0 4px #ffffff;
	 opacity: 0.9;
    filter: alpha(opacity=20);
	 border: solid 1px red;
	 border-radius:15px 15px;
	 background:white;

}
.article{
position:absolute;
	top:80px;
	left:20%;
	background:white;
	z-index:5;	
}

button{
	position:absolute;
	top:220px;
	left: 60px;
	right:0;
	margin:auto;
	display:block;
	width:150px;
	height:50px;
	border:solid 1px red;;
	cursor:pointer;
	position: absolute;
	border-radius:3px;
	font-family : monospace;
	font-size:2em;
	background:grey;
	 opacity: 0.8;
    filter: alpha(opacity=50);
}

 .johnny_image{
	 background-repeat: no-repeat;
	 background-position:left;
	position:absolute;
	top:50px;
	left:300px;
	max-height:100%;
 }

 .bio_text1{
	position:absolute;
	left:35%;
	top:50px;
	height:400px;
	width:600px;
	
}

.features {
	margin:25px 0;
	position:relative;
	top:280px;
}
.thumbnail {
	border:0;
	text-align:center;
}
.thumbnail .caption p {
	color: #94a3a8;
}





.html5 {
position:absolute;
top:40px;
left:10%;
height:150px;
width:150px;
background-image: url("../img/html5.PNG");	
background-size: cover;
}
#icon1{
	position:relative;
	top:80px;
}
.css3{
position:absolute;
top:40px;
left:20%;
height:150px;
width:150px;
background-image: url("../img/css3.PNG");	
background-size: cover;
}
#icon2{
	position:relative;
	top:80px;
}
.github {
position:absolute;
top:40px;
left:30%;
height:150px;
width:150px;
background-image: url("../img/git.PNG");	
background-size: cover;
}
#icon3{
	position:relative;
	top:80px;
}
.php7 {
position:absolute;
top:40px;
left:40%;
height:150px;
width:250px;
background-image: url("../img/php7.jpg");	
background-size: cover;
}
#icon4{
	position:relative;
	top:80px;
}
.wordpress{
	position:absolute;
    top:40px;
    left:60%;
    height:150px;
    width:150px;
    background-image: url("../img/wordpress.jpg");	
    background-size: cover;
}
#icon5{
	position:relative;
	top:80px;
}
.photo_text{
	position:absolute;
	top:100px;
	left:10%;
}
.photo_wrapper{
	padding:30px;
	position:absolute;
	top:200%;
	left:10%;
	text-align:center;
    background:transparent;
	height:1000px;
	width:1200px;
	border: solid 1px red;
}

.photo1{
	position:relative;
	background-image:url("../img/tgm.png");
	width:340px;
	height:250px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 7px 7px;	
}
.photo2{
	position:relative;
	background-image:url("../img/eft.png");
	width:340px;
	height:250px;
	background-repeat: no-repeat;
  	background-size: cover;
	border-radius: 7px 7px;	
}
.photo3{
	position:relative;
	background-image:url("../img/Rapid.jpg");
	width:340px;
	height:250px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 7px 7px;
}
.photo4{
	position:relative;
	background-image:url("../img/Teamlogo.jpg");
	width:340px;
	height:250px;
	background-repeat: no-repeat;
  	background-size: cover;
	border-radius: 7px 7px;
	
}
.form_wrap{
	position:absolute;
	top:-100;
	left:150;
	padding:55px 50px;
	width:400px;
	height:400px;
	margin: 0 auto;
}

.flip3D{ width:340px; height:250px; margin:10px; float:left; }
.flip3D > .front{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
	background:#FC0; width:240px; height:200px; border-radius: 7px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
}
.flip3D > .back{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 180deg );
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF; width:340px; height:250px; border-radius: 7px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
}
.flip3D:hover > .front{
	-webkit-transform: perspective( 600px ) rotateY( -180deg );
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
}
/* Animation */

.testblock {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.testblock:hover {
	-moz-transform:scale(1.09);
	-webkit-transform:scale(1.09);
	-o-transform:scale(1.09);
	-ms-transform:scale(1.09);
	transform:scale(1.09);
	z-index:2;
}
.form_wrap{
position:absolute;
top:100px;
left: 40%;
width:450px;
height:500px;
text-align:right;
border: solid 1px red;
border-radius: 7px 7px;
}
input{
	width:200px;
	height:35px;
}
lable{
	font-size:20px;
}
#bottom_form1{
position:absolute;
top:80px;
left: 40px;
text-align:right;
}







